<div class="auth-container">
    <h2>Entrar como Administrador:</h2>
    <form action="/loginAdm" method="POST">
        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="name" name="name" placeholder="Digite o seu nome...">
        </div>
            <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite a sua senha...">
        </div>
        <input type="submit" value="Entrar">
        <p>Não tem conta? <a href="/registerAdm">Clique aqui</a></p>
    </form>
</div>