<div class="dashboard-queries"> 
        <ul class="resultado_vacina_ul">
            {{#each results}} 
                <li class="resultado_vacina_li">{{this}}</li>
            {{/each}}
        </ul>
</div>