* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}

body {
  background-color: #66CDAA;
  background-image: url(../img/fundoA1.png);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  z-index: -10;
}

/* NAVBAR */

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 25px;
  background-color: #000;
  border: #000 solid 1px;
  margin: 6px 0;
  transition: 0.4s;
}

#logo img {
  height: 50px;
}

#navbar {
  padding: 1.2em 2.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  border-bottom: 2px solid #000;
  background: linear-gradient(225deg, #2E8B57, #1C1C1C);
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  border-left: 2px solid #000;
  padding: 0.8em;
  /* background-color: #2E8B57; */
  font-size: 18px;
  z-index: 10;
}

#navbar ul li a {
  text-decoration: none;
  color: #000;
  transition: 0.5s;
  font-weight: bold;
  background: none;
}

#navbar a, #navbar a img{
  background: none;
}

#navbar ul li a:hover {
  color: #F0E68C;
}

/* CONTAINER */
.message {
  padding: 1em;
  color: #004085;
  background-color: #cce5ff;
  border: 2px soli d#b8daff;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2em;
  width: 80%;
  border: #000 solid 1px;
  box-shadow: #363636 3px 3px 3px;
}

.container {
  min-height: 60vh;
  padding: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* CALENDAR */
.calendar {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  border: #000 solid 3px;
  box-shadow: #363636 3px 3px 3px;
  background-color: #66CDAA;
}

.monthYear {
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #2E8B57;
  color: #fff;
}

.monthYear i, a, h1, img{
  background-color: #2E8B57;
}

.monthYear i {
  color: #000;
  font-size: 30px;
  transition: all 0.5s ease-in-out;
  
}

.monthYear i:hover {
  cursor: pointer;
  color: #F0E68C;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-table .daysWeek th {
  font-weight: bold;
  border-bottom: 2px solid #000;
  font-size: 18px;
}

.calendar-table th,
.calendar-table td {
  padding: 10px;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.calendar-table .empty {
  visibility: hidden;
}

.calendar-table td a {
  text-decoration: none;
}

.calendar-table td:not(.empty) {
  color: #000;
  opacity: 0.5;
  border: 1px solid #000;
  height: 40px;
  width: 40px;
  transition: all 0.5s ease-in-out;
}

.calendar-table .sundayOrMonday {
  opacity: 0.3;
  background-color: black;
}

.calendar-table .nextDays:not(.empty) {
  opacity: 1;
}

.calendar-table .nextDays:not(.empty) a {
  transition: all 0.5s ease-in-out;
  background-color: #66CDAA;
}

.calendar-table .nextDays:not(.empty):hover {
  cursor: pointer;
  background-color: #000;
  color: #2E8B57;
}

.calendar-table .nextDays:not(.empty):hover a {
  cursor: pointer;
  background-color: #000;
  color: #2E8B57;
}

.calendar-table .today:not(.empty) {
  background-color: #2E8B57;
  color: #000;
  opacity: 1;
}

.calendar-table .today:not(.empty) a {
  background-color: #2E8B57;
  color: #000;
  transition: all 0.5s ease-in-out;
}

.calendar-table .today:not(.empty):hover {
  cursor: pointer;
  background-color: #000;
  color: #2E8B57;
}

.calendar-table .today:not(.empty):hover a {
  cursor: pointer;
  background-color: #000;
  color: #2E8B57;
}

.calendar-table .specialToday:not(.empty) {
  background-color: #2E8B57;
 }

.calendar:not(:first-child) {
  display: none;
}

.calendar.active {
  display: block;
}

.hidden {
  display: none;
}

.calendar-table .lastDays:not(.empty) {
  opacity: 0.5; /* ou qualquer estilo desejado para os dias passados */
}

.calendar-table .lastDays:not(.empty) a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s ease-in-out;
}

.calendar-table .lastDays:not(.empty):hover {
  cursor: not-allowed; /* ou qualquer estilo desejado para hover nos dias passados */
  background-color: transparent;
  color: #000;
}

/* LOGIN E REGISTER */
.auth-container {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #66CDAA;
  padding: 40px;
  border: #000 solid 3px;
  box-shadow: #363636 3px 3px 3px;
}

.auth-container h2 {
  margin-bottom: 1em;
  color: #000;
  border-left: 4px solid #000;
  padding: 0.3em;
  width: 100%;
}

.auth-container form p, a{
  background: none;
}

.auth-container a {
  color: #F0E68C;
  background-color: #66CDAA;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form-control input,
.form-control textarea {
  padding: 7px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #222;
  color: #2E8B57;
}

.auth-container form p {
  margin-top: 15px;
}

form .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

form input[type='submit'],
.btn {
  background-color: #2E8B57;
  color: #000;
  border: 2px solid #000;
  padding: 0.5em 1.3em;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

form .download{
  background-color: #2E8B57;
  color: #000;
  border: 2px solid #000;
  padding: 0.5em 1.3em;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  margin-left: 3em ;
}

form input[type='submit']:hover,
.btn:hover {
  background-color: #000;
  color: #2E8B57;
}

form .download:hover{
  background-color: #000;
  color: #2E8B57;
}

/* REQUEST */

.dashboard-request {
  display: flex;
  flex-direction: column;
  background-color: #66CDAA;
  width: 50%;
  border: #000 solid 3px;
  box-shadow: #363636 3px 3px 3px;
  padding: 30px;
}

.dashboard-request h1 {
  background-color: #66CDAA;
  text-align: center;
  padding: 15px;
  color: #000;
  border-bottom: #000 3px solid;
}

.availableHours {
  position: relative;
}

.availableHours .userName {
  color: #000;
}

.availableHours ul {
  list-style: none;
}

.availableHours ul .hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.availableHours ul .hours .square{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.availableHours ul .hours .infoAvailability{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.availableHours ul .hours .markOff img{
  background-color: #66CDAA;
}

.availableHours ul .hours .markOff{
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.availableHours li {
  padding: 15px;
  font-size: 20px;
  border-bottom: solid 2px #000;
}

.availableHours ul img {
  height: 40px;
  margin-right: 10px;
}

.availableHours .available-time {
  border: solid 2px #222;
  font-size: 20px;
  padding: 20px;
  background-color: rgba(0, 128, 0, 0.8);
  box-shadow: 1px 1px #363636;
  color: black;
  cursor: pointer;
  margin-bottom: 0;
}

.square .unavailable-time {
  border: solid 2px #222;
  font-size: 20px;
  padding: 20px;
  background: none;
  background-color: red;
  box-shadow: 1px 1px #363636;
  color: black;
  font-weight: 700;
}

.availableHours .markOff input {
  margin-bottom: 0;
  margin-left: 10px;
  box-shadow: 1px 1px #363636;
}

.teste {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.teste h1 {
  margin-bottom: 20px;
}

.teste h2 {
  margin-top: 20px;
}

.requestHour {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  margin-top: 1.5em;
}

.requestHour .row {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #000;
  padding: 10px 0;
}

.requestHour h3 {
  padding-top: 20px;
  margin-right: 25px;
  color: #000;
}

.requestHour .res {
  color: #000;
}

.requestHour .selectPet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: solid 1px #000;
}

.requestHour .selectPet select {
  color: #2E8B57;
  border: solid 1px #000;
  text-align: center;
  font-size: 16px;
  padding: 10px 10px;
  margin-right: 20px;
  background-color: #363636;
}

.requestHour .selectPet select option{
  color: #2E8B57;
}

.requestHour input {
  margin-top: 60px;
  box-shadow: 2px 2px 2px #1C1C1C;
}

/* DASHBOARD */
.register-pet {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.dashboard{
  background-color: #66CDAA;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #000 solid 3px;
  box-shadow: #363636 3px 3px 3px;
}

.changeRegistration {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.changeRegistration h1{
  border-left: 4px solid #000;
  padding: 10px;
  background: none;  
}

.changeRegistration a{
  padding: 10px;
  margin-top: 10px;
  box-shadow: 1px 1px #363636;
}

.register-pet {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.register-pet h1 {
  border-left: 4px solid #000;
  padding: 10px;
  background: none;
}

.register-pet a{
  margin-top: 10px;
  padding: 10px;
  box-shadow: 1px 1px #363636;
}

.dashboard ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard ul li {
  padding: 5px;
  background-color: #1C1C1C;
  border: #000 solid 1px;
  margin: 10px;
  box-shadow: #363636 3px 3px 3px;
}


.pet-container {
  border: 0.1px solid #000;
  min-width: 250px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2E8B57;
}

.pet-container h3 {
  font-size: 28px;
  padding: 15px 0;
  color: #000;
}

.pet-container p {
  font-size: 18px;
  padding-bottom: 15px;
  background: none;
}

.pet-container a {
  font-size: 18px;
  text-decoration: none;
  padding-bottom: 15px;
  color: #F0E68C;
  font-weight: 900;
}

.dashboard .label {
  font-weight: bold;
  color: #000;
  margin-right: 2em;
}

.dashboard .actions {
  display: flex;
}

.dashboard .actions .btn {
  color: #000;
  border-color: #000;
  margin: 0 0.5em;
}

/* CREATE / EDIT FORM */
.tought-form-container a {
  color: #000;
}

.tought-form-container a:hover {
  color: #000;
}

.tought-form-container h1 {
  border-left: 4px solid #000;
  padding: 10px;
  margin-top: 1em;
}

.tought-form-container form {
  max-width: 30%;
  margin-top: 1.5em;
}

/* VETERINARYRECORD */

.identification {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px solid #000;
  background-color: #2E8B57;
}

.identification h1 {
  color: #000;
  padding: 20px;
  background: none;
}


.identification .petRecord {
  color: #000;
}

.auth-container .vaccine{
  margin-bottom: 25px;
}

.auth-container .vaccine label {
  display: inline-block;
  vertical-align: middle;
}

.vaccine input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
}
.form-control .nextAppointment {
  display: flex;
  justify-content: space-between;
}

.form-control .nextAppointment select {
  border: 2px solid #2E8B57;
  color: #2E8B57;
  width: 30%;
  height: 30px;
  font-size: 16px;
  background-color: #222;
  margin: 15px 0;
}

.form-control .nextAppointment select option{
  color: #2E8B57;
}

.dashboard-direction{
  background-color: #66CDAA;
  border: #000 solid 3px;
  box-shadow: #363636 3px 3px 3px;
  width: 60%;
}

.veterinaryRecords {
  display: flex;
  justify-content: center;
}

.dashboard-direction ul {
  width: 100%;
}

.dashboard-direction li .liDirection {
  border-bottom: 2px solid #000;
}

.dashboard-direction li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px;
}
.dashboard-direction li h1{
  background-color: #66CDAA;
} 
.dashboard-direction li a {
  text-decoration: none;
  font-size: 22px;
  color: #F0E68C;
  font-weight: 700;
  background-color: #66CDAA;
}

.dashboard-direction .vtRecord {
  padding: 20px;
}

.dashboard-direction .vtRecord .row {
  display: flex;
  width: 80%;
  padding: 15px;
}

.dashboard-direction .vtRecord .row .res {
  color: #000;
}

.dashboard-direction .vtRecord .row h2 {
  color: #000;
  padding-left: 20px;
  margin-bottom: 20px;
}

/* ADMIN QUERIES */

.dashboard-queries {
  display: flex;
  flex-direction: column;
  background-color: #66CDAA;
  border: #000 solid 3px;
  box-shadow: #000 3px 3px 3px;
  padding: 30px;
  width: 50%;
}

.dashboard-queries ul{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.dashboard-queries ul li{
  list-style: none;
  font-size: 20px;
}

.dashboard-queries a{
  text-align: center;
}

.adminQueriesTitle {
  padding: 10px;
  margin-bottom: 10px;
}

.adminQueriesTitle h1 {
  color: #000;
  background-color: #66CDAA;
}

.allqueries ul {
  display: flex;
  flex-direction: column;
}

.queries {
  display: flex;
  text-align: center;
  flex-direction: column;
  border: 1px solid #000;
  margin-bottom: 20px;
}

.allqueries .queries h2 {
  padding: 20px 0;
  color: #000;
  border-bottom: 2px solid #000;
  margin-bottom: 15px;
  background-color: #2E8B57;
}

.allqueries .queries .queriesHours {
  padding: 0 20px;
}

.allqueries .queries .queriesHours h3 {
  margin-bottom: 15px;
}

.allqueries .queries .queriesHours a {
  text-decoration: none;
  color: #000;
  margin-bottom: 15px;
}

.allqueries .queries .queriesHours {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.auth-container .row h3 {
  color: #000;
}

.allqueries .queries .queriesHours .hourQuery{
  width: 15%;
}

.allqueries .queries .queriesHours .userQuery{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center
}

.allqueries .queries .queriesHours .userQuery .res{
  color: #000;
  margin-right: 10px;
}

.allqueries .queries .queriesHours .petNameQuery{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allqueries .queries .queriesHours .petNameQuery .res{
  color: #000;
  margin-right: 10px;
}

.allqueries .queries .queriesHours .toFillIn{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allqueries .queries .queriesHours .toFillIn a{
  background-color: #66CDAA;
  color: #F0E68C;
}

/* ADMIN ALL USERS */

.dashboard-allUsers {
  width: 60%;
  background-color: #66CDAA;
  border: #000 solid 3px;
  box-shadow: #363636 3px 3px 3px;
  padding: 30px;
}

.dashboard-allUsers .search form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.dashboard-allUsers .search .searchText{
  padding: 10px;
  border: 2px solid #000;
  background-color: #363636;
  color: #2E8B57;
  margin-right: 10px;
  width: 400px;
  margin-bottom: 15px;
}

.dashboard-allUsers .search a{
  margin-left: 10px;
}

.dashboard-allUsers ul {
  list-style: none;
}

.dashboard-allUsers h1 {
  color: #000;
  padding: 10px;
  border-left: 4px solid #000;
  margin-bottom: 20px;
  background-color: #66CDAA;
}

.dashboard-allUsers .user {
  border: 2px solid #000;
  box-shadow: 3px 3px 3px #1C1C1C;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #2E8B57;
}


.dashboard-allUsers .user .title-user .name{
  display: flex;
  justify-content: center;
}

.dashboard-allUsers .user .name h2{
  background-color: #2E8B57;
}

.dashboard-allUsers .user .name .res{
  margin-left: 15px;
  background-color: #2E8B57;
}

.dashboard-allUsers .user .vtRecords li{
  border: #000 2px solid;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dashboard-allUsers .user .vtRecords li .vtRecord{
  width: 100%;
}

.dashboard-allUsers .user .vtRecords li .vtRecord li{
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.dashboard-allUsers .user .vtRecords li .vtRecord li p{
  margin-right: 40px;
}

.dashboard-allUsers .user ul li h3 {
  padding-left: 10px;
  margin: 10px 0;
  color: #000;
  background-color: #2E8B57;
}

.dashboard-allUsers ul{
  background-color: #2E8B57;

}

.dashboard-allUsers ul li {
  background-color: #2E8B57;
}

.dashboard-allUsers ul .vtRecord {
  background-color: #2E8B57;
}

.dashboard-allUsers ul .vtRecord li{
  background-color: #2E8B57;
}

.dashboard-allUsers ul .vtRecord li p,a{
  background:none
}

.dashboard-allUsers .user ul .vtRecord li {
  display: flex;
  justify-content: space-between;

}

.dashboard-allUsers .user p {
  padding-left: 20px;
}

.dashboard-allUsers .user ul .vtRecord li {
  display: flex;
  justify-content: space-around;
}

.dashboard-allUsers .user ul .vtRecord li a {
  text-decoration: none;
  color: #F0E68C;
  padding-right: 20px;
}

.dashboard-allUsers .user .title-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #2E8B57;
}

.dashboard-allUsers .user .title-user svg{
  background-color: #2E8B57;
}

.title-user {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caret-icon {
  transition: transform 0.3s ease-in-out;
}

.caret-icon.rotated {
  transform: rotate(180deg);
}

.vtRecords {
  display: none;
  border-top: 2px solid #000;
}

.vtRecords.active {
  display: flex;
  flex-direction: column;
}


.dashboard-allUsers .user .title-user h2 {
  color: #000;
}

.dashboard-allUsers .user .title-user svg:hover {
  cursor: pointer;
}


/* Media query para dispositivos móveis */
@media (max-width: 768px) {

  /* navBar */

  #navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2em;
}

#logo {
    order: 0;
}

.menu-toggle {
    display: block; /* Exibe o ícone do menu hamburguer em telas menores */
    order: 1;
}

#navbar ul {
    display: none; /* Oculta a lista de itens do menu em telas menores */
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 5em;
    left: 0;
    width: 100%;
    background-color: #2E8B57; /* Cor de fundo do menu */
    z-index: 1;
}

#navbar ul.show {
    display: flex; /* Exibe a lista quando o ícone do menu é clicado */
}

#navbar ul li {
    border: 1px solid #000; /* Remove a borda entre os itens do menu */
    padding: 0.8em;
}

#navbar ul li a {
    color: #000; /* Cor do texto no menu hamburguer */
}

#navbar ul li a:hover {
    background-color: #1C1C1C; /* Cor de fundo ao passar o mouse sobre os itens do menu */
}

  /* Autenticador */

  .auth-container{
    width: 90%;
  }

  /* CALENDAR */
  .calendar {
    width: 100%;
  }

  .monthYear{
    padding: 10px;
  }

  .calendar-table th,
  .calendar-table td {
    height: 25px;
    width: 25px;
  }
  #navbar ul li{
    font-size: 16px;
  }
  .calendar-table .daysWeek th{
    font-size: 12px;
  }

  .calendar-table {
    width: 100%;
    border-collapse: collapse;
  }

  /* PETS */

  .dashboard{
    width: 100%;
  }

  .dashboard .btn{
    padding: 5px;
    font-size: 16px;
    text-align: center;
  }

  .dashboard ul {
    display: flex;
    flex-direction: column;
  }

  .dashboard ul li .pet-container{
    width: 20%;
  }

  .veterinaryRecords .liDirection h1{
    width: 0%;
    font-size: 15PX;
  }
  .identification h1{
    font-size: 20px;
  }
  .vtRecord .row h2{
    font-size: 18px;
  }

  .dashboard-direction{
    width: 100%;
  }

  .dashboard-direction h2{
    font-size: 16px;
  }

  .dashboard-direction .liDirection a{
    font-size: 18px;
  }

  /* REQUESTS */

  .availableHours ul .hours .square {
    padding: 5px;
  }

  .availableHours ul .hours .markOff img{
    background-color: #66CDAA;
  }

  .availableHours ul .hours .markOff label{
    font-size: 15px;
  }
  .availableHours ul .hours .markOff input{
    font-size: 15px;
    padding: 10px;
  }

  .availableHours ul .hours .infoAvailability{
    width: 50%;
  }

  .availableHours ul .hours .infoAvailability h3{
    font-size: 15px;
  }

  
.availableHours .available-time {
  font-size: 16px;
  padding: 10px;
}

.availableHours .unavailable-time {
  font-size: 16px;
  padding: 10px;
}

.infoAvailability h3 {
  text-align: center;
  font-size: 10px;
}


.dashboard-request{
  width: 100%;
}

.dashboard-request .form-control h1{
  font-size: 24px;
  margin-bottom: 0px;
  background:none;
}

.dashboard-request .form-control h2{
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
}

.dashboard-request .form-control .requestHour {
  width: 100%;
  margin-top: 0;
}

/* ADMIN */

.dashboard-allUsers{
  width: 100%;
}

.dashboard-queries{
  width: 100%;
}

.dashboard-allUsers .search .searchText{
  width: 80%;
  margin-bottom: 15px;
}
.dashboard-allUsers .search form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.dashboard-allUsers h1{
  font-size: 24px;
}

.dashboard-allUsers .user .title-user h2{
  font-size: 18px;
}

.dashboard-queries .adminQueriesTitle h1{
  font-size: 24px;
  text-align: center;
}

.dashboard-queries .allqueries h2{
  font-size: 20px;
  width: 100%;
}

.dashboard-queries .allqueries{
  width: 100%;
}

.dashboard-queries .allqueries .queries .queriesHours h3{
  font-size: 15px;
  padding: 0;
}

.dashboard-queries .allqueries .queries .queriesHours a{
  font-size: 15px;
}

.allqueries .queries .queriesHours{
  padding: 10px 10px;
  border-bottom: 2px solid #000;
}

.allqueries .queries .queriesHours .userQuery{
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}

.allqueries .queries .queriesHours .petNameQuery{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


}

/* FOOTER */

footer, span,p {
  background:linear-gradient(315deg, #2E8B57, #1C1C1C ) ;
}
footer {
  height: 15.4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #000;
}

footer p {
  background: none;
}

footer span{
  font-weight: bold;
  color: #000;
  background: none;
}

footer img {
  margin-bottom: 10px;
  width: 60px;
  background: none;
}